.permissions-connect-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 1rem 1rem 1rem;

  &__text {
    @include H7;

    color: var(--secondary-text);
    display: flex;
    margin-top: 10px;

    &--link {
      color: var(--primary);
      margin-left: 4px;
      cursor: pointer;
    }
  }
}
