.connected-accounts-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__identicon {
    margin-right: 8px;
  }

  &__account-name {
    @include H6;

    display: inline;
    font-weight: bold;
  }

  %account-status-typography {
    @include H7;

    padding-top: 4px;
  }

  &__account-status {
    @extend %account-status-typography;

    display: inline;
    color: var(--primary-text);
  }

  &__account-status-link {
    @extend %account-status-typography;

    display: block;

    &,
    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    border-top: 1px solid var(--divider-2);

    &--highlight {
      border: 1px solid  var(--primary);
      border-color: var(--primary);
      background-color: #6e42ca12;;
      box-sizing: border-box;
      padding: 16px;
      margin-bottom: 16px;
      width: calc(100% - 16px);
      border-radius: 16px;
    }
  }

  &__row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.connected-accounts-options {
  &__button {
    font-size: $font-size-h4;
    background: inherit;
    color: var(--primary-text);
  }
}

.tippy-tooltip.none-theme {
  background: none;
  padding: 0;
}
