.form-field {
  margin-bottom: 20px;

  &__heading {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  &__heading-title {
    h6 {
      color: var(--primary-text) !important;
    }
  }

  .info-tooltip {
    display: inline-block;
  }

  &__heading-detail {
    flex-grow: 1;
    align-self: center;
  }

  &__error,
  &__error h6 {
    color: var(--primary-error) !important;
    padding-top: 6px;
  }

  h6 {
    padding-bottom: 6px;
    margin-inline-end: 6px;
  }

  i {
    color: var(--secondary-text);
    font-size: $font-size-h7;
  }

  &__input {
    width: 100%;
    background: var(--secondary-bg);
    border: solid 1.5px var(--border-input);
    padding: 10px;
    border-radius: 6px;
    color: var(--primary-text);

    &[disabled] {
      color: var(--disabled-text);
    }

    &:focus {
      border: solid 2px var(--primary);
    }

    &--error {
      border-color: var(--primary-error);
    }

    &--warning {
      border-color: var(--alert-3);
    }
  }
}
