.transaction-status {
  display: inline;

  &--confirmed {
    color: var(--primary-success);
  }

  &--unapproved {
    color: var(--Orange-500);
  }

  &--failed {
    color: var(--primary-error);
  }

  &--cancelled {
    color: var(--primary-error);
  }

  &--dropped {
    color: var(--primary-error);
  }

  &--rejected {
    color: var(--primary-error);
  }

  &--pending {
    color: var(--secondary-text);
  }

  &--queued {
    color: var(--secondary-text);
  }
}
