.transaction-detail-item {
  color: var(--secondary-text);
  padding: 20px 0;
  border-bottom: 1px solid var(--divider);

  &__row {
    display: flex;
    justify-content: space-between;
    grid-gap: 5px;

    & > h6 {
      color: var(--secondary-text) !important;
    }

    &-subText {
      display: flex;
      align-items: center;

      .currency-display-component {
        margin-left: 4px;
      }
    }
  }

  &__detail-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 52%;

    &--flex-width {
      width: auto;
    }
  }

  .info-tooltip {
    display: inline-block;
    margin-inline-start: 4px;

    path {
      fill: var(--secondary-text);
    }
  }

  .currency-display-component {
    display: inline;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
