.dialog {
  @include H7;

  padding: 1rem;
  border: 1px solid var(--black);
  box-sizing: border-box;
  border-radius: 8px;

  &--message {
    border-color: var(--primary);
    color: var(--primary);
    background-color: #6e42ca12;
  }

  &--error {
    border-color: var(--primary-error);
    color: var(--primary-error);
    background-color: #e74c3c14;
  }

  &--warning {
    border-color: var(--Orange-300);
    color: var(--Orange-600);
    background-color: var(--Orange-000);
  }
}
