.qr-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__message-container > div:first-child {
    @include Paragraph;

    margin-top: 18px;
    color: var(--secondary-text);
  }

  &__message {
    @include H7;

    color: #f7861c;
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-error);
    margin-bottom: 9px;
  }

  &__address-container {
    display: flex;
    justify-content: center;
    color: var(--primary-text);

    &__tooltip-wrapper {
      width: 100%;
    }

    &:hover {
      cursor: pointer;

      .qr-code__copy-icon__svg {
        fill: var(--primary);
      }
    }
  }

  &__address {
    @include H7;

    color: var(--primary-text);
    background-color: var(--secondary-bg);
    border: 1.5px solid var(--border-input);
    border-radius: 8px;
    width: 76%;
    padding: 8px 12px;
    word-break: break-all;
    text-align: center;
  }

  &__copy-icon {
    height: 13px;
    padding: 17px 0;
    position: absolute;
    right: 24px;

    &__svg {
      fill: var(--secondary-text);
    }
  }
}
