.token-details {
  &__title {
    text-transform: capitalize;
    color: var(--primary-text) !important;
  }

  h4 {
    color: var(--primary-text) !important;
  }

  h6 {
    &.typography--h6,
    &.typography--h7 {
      font-size: 1rem !important;
      color: var(--primary-text) !important;
    }

    &.typography--h9 {
      font-size: 1.2rem !important;
      color: var(--secondary-text) !important;
    }
  }

  &__closeButton {
    float: right;
    width: 10px;
    margin-top: -17px;
    margin-inline-end: -8px;

    &::after {
      font-size: 24px;
      content: '\00D7';
      color: var(--secondary-text);
    }
  }

  &__token-value {
    font-size: 32px;
  }

  &__token-address {
    width: 222px;
    color: var(--secondary-text) !important;
  }

  &__copy-icon {
    float: right;
    margin-inline-start: 62px;

    @media screen and (min-width: $break-large) {
      margin-inline-start: 112px;
    }
  }

  &__hide-token-button {
    width: 319px;
    height: 39px;
    margin-top: 70px;

    @media screen and (min-width: $break-large) {
      margin-inline-start: 20px;
    }
  }

  .btn--rounded.btn-primary {
    //background-color: #fff;
  }
}
