.settings-tab {
  &__error {
    padding-bottom: 20px;
    text-align: center;
    color: var(--crimson);
  }

  &__rpc-save-button {
    align-self: flex-end;
    padding: 5px;
    cursor: pointer;
    width: 25%;
  }

  &__button--red {
    border-color: var(--primary-error);
    color: var(--primary-error);
    background-color: #e74c3c14;

    &:active {
      background-color: rgba(231, 76, 60, 0.26);
      border-color: var(--primary-error);
    }

    &:hover {
      border-color: var(--primary-error);
    }
  }

  &__radio-buttons {
    display: flex;
    align-items: center;
  }

  &__radio-button {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__radio-label {
    padding-left: 4px;
  }
}
