.export-private-key-modal {
  &__body-title {
    @include H4;

    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 19px 0 8px 0;
    background-color: var(--divider-2);
  }

  &__account-name {
    @include H4;

    margin-top: 9px;
  }

  &__password {
    display: flex;
    flex-direction: column;
  }

  &__password-label,
  &__password--error {
    @include H6;

    color: var(--primary-error);
    margin-bottom: 10px;
    padding: 0 30px;
    text-align: center;
  }

  &__password--error {
    color: var(--primary-error);
    margin-bottom: 0;
  }

  &__password-input {
    @include Paragraph;

    padding: 10px 0 10px 17px;
    width: 291px;
    height: 44px;
    border-radius: 4px;
    background: var(--secondary-bg);
    color: var(--primary-text);
    border: 1.5px solid var(--border-input);
  }

  &__password::-webkit-input-placeholder {
    color: var(--secondary-text);
  }

  &__password--warning {
    @include H7;

    border-radius: 8px;
    background-color: var(--secondary-bg);
    font-weight: 500;
    color: var(--primary-error);
    width: 292px;
    padding: 9px 15px;
    margin-top: 18px;
  }

  &__password-display-wrapper {
    height: 80px;
    width: 291px;
    background: var(--secondary-bg);
    border-radius: 8px;
    margin: 0 auto;
    color: var(--primary-text);
    border: 1.5px solid var(--border-input);
  }

  &__password-display-textarea {
    @include Paragraph;

    border: none;
    height: 75px;
    width: 100%;
    overflow: hidden;
    resize: none;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: var(--primary-text);
    padding: 5px 10px;
    margin-top: 7px;
    font-size: 0.75rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 25px;
  }

  &__button {
    margin-top: 17px;
    width: 141px;
    min-width: initial;
  }

  &__button--cancel {
    margin-right: 15px;
  }

  & .ellip-address-wrapper {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    margin-top: 7px;
    width: 286px;
    font-size: 0.75rem;
    font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
    line-height: 140%;
    font-style: normal;
    font-weight: normal;
    color: var(--primary-text);
    background-color: var(--secondary-bg);
    border: 1.5px solid var(--border-input);
    border-radius: 8px;

    input, textarea {
      color: var(--primary-text);
      background-color: transparent;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

