.advanced-gas-inputs {
  &__gas-edit-rows {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  &__gas-edit-row {
    display: flex;
    flex-flow: column;
    //width: 47.5%;
    width: 100%;

    &__label {
      @include H7;

      color: var(--text-primary);
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $break-small) {
        @include H8;
      }

      .fa-info-circle {
        color: var(--primary);
        cursor: pointer;
      }

      .fa-info-circle:hover {
        color: var(--primary-hover);
      }
    }

    &__error-text {
      @include H7;

      color: var(--primary-error);
    }

    &__warning-text {
      @include H7;

      color: orange;
    }

    &__input-wrapper {
      position: relative;
    }

    &__input {
      /*rtl:ignore*/
      @include Paragraph;

      direction: ltr;
      border: 1.5px solid var(--border-input);
      border-radius: 4px;
      color: var(--secondary-text);
      height: 24px;
      width: 100%;
      padding-left: 8px;
      padding-top: 2px;
      margin-top: 7px;
      background: var(--secondary-bg);
    }

    &__input--error {
      border: 1px solid var(--primary-error);
    }

    &__input--warning {
      border: 1px solid var(--orange);
    }

    &__input-arrows {
      @include H6;

      position: absolute;
      top: 7px;
      overflow: hidden;

      /*rtl:ignore*/
      right: 0;
      width: 17px;
      height: 24px;
      border: 1px solid var(--border-input);
      border-top-right-radius: 4px;
      display: flex;
      flex-direction: column;
      color: #434364;
      border-bottom-right-radius: 4px;
      cursor: pointer;

      &__i-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      &__i-wrap:hover {
        background: var(--primary);
        color: var(--primary-text);
      }

      i:hover {
        background: var(--primary);
      }

      i {
        font-size: $font-size-h8;
      }

      &--hidden {
        display: none;
      }
    }

    &__input-arrows--error {
      border: 1px solid var(--primary-error);
    }

    &__input-arrows--warning {
      border: 1px solid var(--orange);
    }

    input[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      display: none;
    }

    input[type="number"]:hover::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      display: none;
    }

    &__gwei-symbol {
      position: absolute;
      top: 8px;
      right: 10px;
      color: var(--secondary-text);
    }

    &__custom-text {
      @include H7;
    }
  }
}

.advanced-gas-inputs__gas-edit-row__input-arrows.advanced-gas-inputs__gas-edit-row__input--error {
  border-color: var(--primary-error);
}
