.tab {
  color: var(--disabled-text);
  border-bottom: 2px solid var(--disabled-text);

  button {
    cursor: pointer;
    padding: 8px;
    min-width: 50px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: unset;
    font-size: unset;
    color: inherit;
  }

  &--active {
    color: var(--primary-text);
    border-bottom: 2px solid var(--primary);
  }
}
