.icon-border {
  border-radius: 50%;
  border: 1px solid var(--secondary-text);
  background: var(--secondary-text);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
