

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--primary-text);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: auto;
  background: linear-gradient(52.43deg, #14072E 22.22%, #0A081E 59.58%);
}

html {
  min-height: 500px;
}

.mouse-user-styles {
  button:focus,
  input:focus,
  textarea:focus,
  .unit-input__input,
  .currency-display__input {
    outline: none;
  }
}

/*
  This error class is used in the following files still:
  /ui/pages/create-account/connect-hardware/index.js
  /ui/pages/create-account/import-account/json.js
  /ui/pages/create-account/import-account/private-key.js
  /ui/pages/first-time-flow/create-password/import-with-seed-phrase/import-with-seed-phrase.component.js
  /ui/pages/keychains/restore-vault.js
*/
.error {
  color: #f7861c;
  margin-top: 3px;
  margin-bottom: 9px;
}

/* stylelint-disable */
#app-content {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(52.43deg, #14072E 22.22%, #0A081E 59.58%);

  //@media screen and (max-width: $break-small) {
  //  background: linear-gradient(52.43deg, #14072E 22.22%, #0A081E 59.58%);
  //}
}
/* stylelint-enable */

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

input.large-input,
textarea.large-input {
  padding: 8px;
}

input.large-input {
  height: 36px;
}

.allcaps {
  text-transform: uppercase;
}

.input-label {
  padding-bottom: 10px;
  font-weight: 400;
  display: inline-block;
}

input.form-control {
  padding-left: 10px;
  font-size: 14px;
  height: 40px;
  border: 1.5px solid var(--border-input);
  border-radius: 3px;
  width: 100%;
  background: var(--secondary-bg);
  color: var(--primary-text);

  &::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--primary-text);
  }

  &::-moz-placeholder {
    font-weight: 100;
    color: var(--primary-text);
  }

  &:-ms-input-placeholder {
    font-weight: 100;
    color: var(--primary-text);
  }

  &:-moz-placeholder {
    font-weight: 100;
    color: var(--primary-text);
  }

  &--error {
    border: 1px solid var(--primary-error);
  }
}

/** Default Typography on base elements **/
* {
  font-family: $font-family;
}

input:-webkit-autofill {
  background-color: transparent;
}


/** Base MUI input color  **/
.MuiInputBase-root {
  color: var(--primary-text) !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-color: #422878a3 !important;
}

.MuiFormLabel-root.Mui-disabled {
  color: var(--secondary-text) !important;
}
